.title {
  font-family: var(--font-secondary);
  font-size: 3rem;
  letter-spacing: 9%;
  line-height: 3rem;
  font-weight: 600;
  position: relative;
  padding: 0 20px;
}

.title::before {
  display: block;
  position: absolute;
  content: " ";
  width: 48px;
  height: 10px;
  background-color: var(--color-primary);
  top: 30%;
  z-index: -1;
  left: 0;
}

.break {
  width: min-content;
  white-space: normal;

  &::before {
    top: 20%;
  }
}

.black {
  color: black;
}

.white {
  color: white;
}
