.card-choose {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
}

.card-choose-desc {
  display: flex;
  flex-direction: column;
  gap: 8px;

  p {
    color: var(--color-dark-light2);
    font-family: var(--font-primary);
    font-size: 1.125rem;
    font-weight: 500;
  }
}
.nome-bolsa {
  text-transform: uppercase;
  font-family: var(--font-secondary);
  font-size: 2rem;
  letter-spacing: 9%;
  position: relative;
  padding: 0 20px;
  color: black;
}

.nome-bolsa::before {
  display: block;
  position: absolute;
  content: "";
  background-color: var(--color-primary);
  width: 12px;
  height: 8px;
  right: 95%;
  top: 30%;
}

@media screen and (max-width: 1400px) {
  .nome-bolsa {
    width: min-content;
    white-space: normal;
  }
}
