#about {
  display: flex;
  gap: 60px;
  align-items: center;
  padding: var(--padding-body);
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.about-desc {
  display: flex;
  gap: 20px;
  flex-direction: column;

  p {
    font-family: var(--font-primary);
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1400px) {
  #about {
    padding: var(--padding);
  }
}
