
.main-button{
  display: flex;
  text-transform: uppercase;
  padding: var(--padding-botton);
  font-family: var(--font-primary);
  font-size: var(--font-size);
  letter-spacing: 9%;
  line-height: 24px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-radius: var(--border-botton);
  border-style: none;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}
