
.main-button{
  display: flex;
  text-transform: uppercase;
  padding: var(--padding-botton);
  font-family: var(--font-primary);
  font-size: var(--font-size);
  letter-spacing: 9%;
  line-height: 24px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-radius: var(--border-botton);
  border-style: none;
  box-shadow: 0px 4px 4px 0 rgba(0,0,0,0.25);
  cursor: pointer;
}
