.box-shadow{
    box-shadow: var(--box-shadow);
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding);
}
.menu{
    display: flex;
    gap: var(--gap-header);
    align-items: center;
    position: relative;

    a{
        text-decoration: none;
        color: var(--color-base-dark);
        font-family: "Roboto", sans-serif;
        font-size: var(--font-size);
    }

    .bag{
        height:  40px;
        width: auto;
    }
}

.page:before{
    top: 50%;
    height: 8px;
    width: 0;
    content: '';
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: var(--color-primary);
    z-index: -1;
}

 .page:hover:before{
    width: 40px;
    transition: 0.3s;
 }