#choose {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  padding: var(--padding-body);
  margin: 120px 0;
}

.choose-header {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .veja-mais {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: var(--font-secondary);
    font-size: 1rem;
    color: black;
    letter-spacing: 9%;
  }
}

.choose-title {
  font-family: var(--font-secondary);
  font-size: 3rem;
  letter-spacing: 9%;
  line-height: 3rem;
  font-weight: 600;
  position: relative;
  padding: 0 20px;
}

.choose-title::before {
  display: block;
  position: absolute;
  content: " ";
  width: 54px;
  height: 10px;
  background-color: var(--color-primary);
  top: 30%;
  z-index: -1;
  right: 80%;
}

.cards-choose {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 1400px) {
  #choose {
    padding: var(--padding);
  }
}
