@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-primary: #a4e178;
  --color-base-dark: #000000;
  --color-base-light: #ffffff;
  --color-dark-light: #11ee1e;
  --padding-body: 1% 15%;
  --padding: 1% 5%;

  --border-botton: 5px;
  --padding-botton: 16px 24px;

  --gap-header: 40px;

  --box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Bebas Neue", sans-serif;
  --font-size: 1.125rem;
}

body,
p,
h1 {
  padding: 0px;
  margin: 0px;
}
