@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-primary: #a4e178;
  --color-dark: #1e1e1e;
  --color-dark-light: #625f63;
  --padding-body: 1% 15%;
  --padding-body-bolsa: 3% 15%;
  --padding: 1% 10%;
  --padding-bolsa: 3% 10%;

  --border-botton: 5px;
  --padding-botton: 16px 24px;

  --gap-header: 40px;

  --box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Bebas Neue", sans-serif;
  --font-size: 1.125rem;
}

body,
p,
h1,
h2,
h3,
h4,
ul {
  padding: 0px;
  margin: 0px;
}

a,
li {
  text-decoration: none;
  list-style: none;
}
